/* Color palette */
:root {
    --PrimaryColor: #FFA101;
    --SecondaryColor: #FAE6B1;
    --ThirdColor: #B3DEE5;
    --DarkColor: #31525B;
    --HoverColor: #FFA101;
    --whiteColor: #FCFCFC;
    --blackColor: #272727;
    --greyBg: #F8F7F7;
    --greyText: #D9D9D9;
    --inputColor: #F5F5F5;
  }

/* Create Venue BTN */
.createVenue-btn {
  background-color: var(--PrimaryColor);
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  margin: 5px;
}

.createVenue-btn:hover {
  color: black;
}


.addmedia-btn {
    color: white;
    background-color: var(--PrimaryColor);
    border: none;
    padding: 0.5rem;
    margin-left: 10px;
}

.addmedia-btn .addmedia-icon {
    font-size: 1.3rem;
}

.meta-false {
    width: 80px;
    margin-right: 20px;
    height: 80px;
    border: 2px solid var(--PrimaryColor);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .meta-true {
    background-color: var(--SecondaryColor);
    color: black;
    width: 80px;
    margin-right: 20px;
    height: 80px;
    border: 2px solid var(--PrimaryColor);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icon-venue {
    font-size: 1.5em;
    color: var(--PrimaryColor);
  }
  
  .text-venue {
    font-size: 0.8em;
    font-weight: bold;
  }