/* Color palette */
:root {
    --PrimaryColor: #FFA101;
    --SecondaryColor: #FAE6B1;
    --ThirdColor: #B3DEE5;
    --DarkColor: #31525B;
    --HoverColor: #FFA101;
    --whiteColor: #FCFCFC;
    --blackColor: #272727;
    --greyBg: #F8F7F7;
    --greyText: #D9D9D9;
    --inputColor: #F5F5F5;
  }
  
  .headerTransparent {
    background-color: transparent;
  }

  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    height: var(--headerHeight);
    z-index: 1000;
    padding: 1rem;
  }

  .header .logo {
    color: var(--whiteColor);
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .header .logo .icon {
    font-size: 30px;
    color: var(--PrimaryColor);
  }

  @media screen and (max-width: 768px) {
    .header .navBar {
      background: var(--greyBg);
      position: absolute;
      height: max-content;
      width: 100%;
      padding: 1rem;
      top: 0;
      left: -500%;
      z-index: 2000;
      box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
      transition: 0.5s ease-in-out;
    }
    
    .header .navBar .navLists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      margin: auto;
      padding: 0.5rem 0;
    }

    .header .navBar .navLists .navItem {
      padding: 0.5rem 0;
    }

    .header .navBar .navLists .navItem .navLink {
      color: var(--textColor);
      font-size: 0.9rem;
      font-weight: 600;
      text-decoration: none;
    }

    .header .navBar .navLists .navItem .navLink:hover {
      color: var(--PrimaryColor);
    }

    .header .navBar .navLists .headerBtns {
      flex-direction: column;
    }

    .header .navBar .navLists .headerBtns .btn {
      margin-top: 1rem;
    }

    .header .navBar .navLists .headerBtns .btn a {
      font-weight: 600;
    }

    .header .navBar .navLists .headerBtns .btn:hover a {
      color: var(--whiteColor);
    }

    .header .navBar .navLists .headerBtns .loginBtn {
      background: none;
      border: 1px solid var(--PrimaryColor);
      color: var(--PrimaryColor);
    }

    .header .navBar .navLists .headerBtns .loginBtn a {
      color: var(--PrimaryColor);
    }

    .header .navBar .navLists .headerBtns .loginBtn:hover {
      background: var(--HoverColor);
    }

    .header .navBar .navLists .headerBtns .loginBtn:hover a {
      color: var(--whiteColor);
    }

    .header .navBar .closeNavbar {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: var(--PrimaryColor);
    }

    .header .navBar .closeNavbar:hover .icon {
      color: var(--SecondaryColor);
    }

    .header .activeNavbar {
      left: 0%;
    }

  }

  .header .toggleNavbar .icon {
    font-size: 25px;
    color: var(--whiteColor);
  }

  .header .toggleNavbar:hover.icon {
    color: var(--SecondaryColor);
  }
  
  .activeHeader {
    background: var(--DarkColor);
    box-shadow: var(--boxShadow);
  }
  
  @media screen and (min-width: 769px) {
    .toggleNavbar, .closeNavbar {
      display: none;
    }

    .header {
      padding: 1.5rem 2rem;
    }

    .header .navBar .navLists {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    .header .navBar .navLists .navItem .navLink {
      color: var(--whiteColor);
      padding: 0 0.45rem;
      font-size: 0.9rem;
      font-weight: 400;
    }

    .header .navBar .navLists .navItem .navLink:hover {
      color: var(--PrimaryColor);
    }

    .header .navBar .navLists .navItem .navLink .headerNumber {
      color: var(--primaryHover);
    }

    .header .navBar .navLists .btn {
      margin-left: 1rem;
    }

    .header .navBar .navLists .btn a {
      color: var(--whiteColor);
      font-weight: 500;
    }

    .header .navBar .navLists .loginBtn {
      background: none;
      border: 1px solid var(--PrimaryColor);
    }

    .header .navBar .navLists .loginBtn:hover {
      background: var(--PrimaryColor);
    }

    .header .navBar .navLists .loginBtn:hover a {
      color: var(--whiteColor);
    }

  }

  @media screen and (min-width: 960px) {
    .header .navBar .navLists .navItem {
      padding: 0 0.7rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .header {
      padding: 1rem 8.5rem;
    }
  }
  
  